header{
width: 100%;
height: 50%;
background-color:rgba(71, 68, 68, 1);
padding-top: 20px;
padding-bottom: 20px;
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
}

body{
    margin: 0%;
    
}

.title{
    text-align: center;
    font-family: sans-serif;
    color: #ffffff;   
}


.options_container{
    display: flex;
    justify-content: center;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color:rgba(71, 68, 68, 1) ;
    width: 52%;
    height: 50px;
    margin-left: 23%;
    margin-top: 20px;
    border-radius: 10px;
}

.concluidas{
    display: flex;
    justify-content: center;
    color:white;
    background-color: rgba(45, 237, 109, 1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border-radius: 10px;
}
.andamento{
    display: flex;
    justify-content: center;
    color:white;
    background-color: rgba(45, 128, 237, 1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border-radius: 10px
}

.prioridades{
    display: flex;
    justify-content: center;
    color:white;
    background-color:rgba(237, 64, 45, 1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border-radius: 10px
}

.segundo_plano{
    display: flex;
    justify-content: center;
    color:white;
    background-color:rgba(237, 176, 45, 1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border-radius: 10px
}

.adição_de_tarefas{
    display: flex;
    border-radius: 100%;
    background-color: rgba(45, 128, 237, 1);
    color:white;
    font-size:xx-large;
    height: 50px;
    width: 50px;
    border-color:white;
    margin-left: 10px;
    
}

.tarefa_adicionada{
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    margin-left: 420px;
    margin-top: 20px;
    background-color: rgba(45, 128, 237, 50%);
    width: 621px;
    height: 454px;
    border-radius: 10px;
    display: none;
    
}

.Title_Task{
    padding: 05px;
    height: 51px;
    width: 100%;
    margin-top: 20px;
    background-color: rgba(45, 128, 237, 1);
    border-radius: 10px;
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.Description_Task{
    word-break: break-word;
    white-space: normal;
    padding: 5px;
    height: 110px;
    width: 100%;
    margin-top: 10px;
    background-color: rgba(45, 128, 237, 1);
    color: white;
    border-radius: 10px;   
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif; 
}

.alta_prioridade{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(237, 64, 45, 0.5);
    border-radius: 15%;
    background-color:rgba(0, 0, 0, 0);
}

.alta_prioridade:checked{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(237, 64, 45, 0.5);
    border-radius: 15%;
    background-color:rgba(45, 237, 109, 1);
    
}

.baixa_prioridade{
    margin-top: 10px;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(237, 176, 45, 0.5);
    border-radius: 15%;
    background-color:rgba(0, 0, 0, 0);
}

.baixa_prioridade:checked{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(237, 176, 45, 0.5);
    border-radius: 15%;
    background-color:rgba(45, 237, 109, 1);
}

::placeholder{
    color: rgb(255, 255, 255, 0.7);
}

.registro_de_tarefa{
    width: 11.5cap;
    height: 53px;
    border-radius: 10px;
    border-color: rgba(45, 128, 237, 1);
    background-color: rgba(45, 128, 237, 1);
    color: white;
    margin-top: 15px;
    margin-left: 41.5%;
}

.icon_confered{ 
    width: 200px;    
    height: 200px;
    top:39%;
    left: 42%;
    display: none;
    position: fixed;
    z-index: 10;
}


.tarefa_concluida{
    text-align: center;
    top:60%;
    left: 35%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size:xx-large;
    display: none;
    position:fixed;
    z-index: 10;
}

