<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static\style.css">
    <title>Meus Compromissos</title>
</head>

<body>
    <header>
        <section class="title">
            <h1> MEUS COMPROMISSOS: </h1>
    
        </section>
    </header>
    <div class="corpo_completo" id="Body_Blur">
        <section class="options_container">
            <input type="button" class="concluidas" value="TODAS JÁ CONCLUIDAS" id= "btnconcluidas">
            <input type="button" class="andamento" value="TODAS AS TAREFAS" id="btnTodasasTarefas">
            <input type="button" class="prioridades" value="TODAS AS PRIORIDADES" id="btnprioridades">
            <input type="button" class="segundo_plano" value="TODAS EM SEGUNDO PLANO" id="btnsegundoplano">
            <input type="button" class="adição_de_tarefas" value="+" id="btnadicionar">
        </section>

        <section class="tarefa_adicionada" id="task_adicioned_box" > 
            <input type="text" class="Title_Task" id="Task_title" placeholder="Título da Tarefa" > 

            <div class="forma_dos_botões">
                <input type="radio"class="alta_prioridade" id="First_priority"> Alta prioridade
                <input type="radio" class="baixa_prioridade" id="Second_priority"> Segundo plano
            </div>

            <textarea name="Descrição de tarefas" id="Descrep_Task" class="Description_Task" placeholder="Descreva os detalhes da sua tarefa"></textarea>

            <input type="button" class="registro_de_tarefa" id="btn_registration_task" value="Registrar Tarefa"> 


        </section>
        <img src="/Static/conferesimbolo.png" class="icon_confered" id="confered">

        <p class="tarefa_concluida" id="message_regs"> Tarefa Registrada com sucesso!</p>

        <script src="Scripts.Js"></script>
    </div>
</body>
</html>