<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static\style.css">
    <title>Meus Compromissos</title>
</head>

<body>
    <header>
        <section class="title">
            <h1> MEUS COMPROMISSOS: </h1>
    
        </section>
    </header>
    
    <section class="options_container">
        <input type="button" class="concluidas" value="TODAS JÁ CONCLUIDAS" id= "btnconcluidas">
        <input type="button" class="andamento" value="TODAS AS TAREFAS" id="btnTodasasTarefas">
        <input type="button" class="prioridades" value="TODAS AS PRIORIDADES" id="priori">
        <input type="button" class="segundo_plano" value="TODAS EM SEGUNDO PLANO" id="segundoplano">
        <input type="button" class="adição_de_tarefas" value="+" id="btnadicionar">
    </section>
   
    <script src="Scripts.Js"></script>
</body>
</html>