<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static\style.css">
    <title>Meus Compromissos</title>
</head>

<body>
    <header>
        <section class="title">
            <h1> MEUS COMPROMISSOS: </h1>
    
        </section>
    </header>
    
    <section class="options_container">
        <input type="button" class="concluidas" value="TODAS JÁ CONCLUIDAS" id= "btnconcluidas">
        <input type="button" class="andamento" value="TODAS AS TAREFAS" id="btnTodasasTarefas">
        <input type="button" class="prioridades" value="TODAS AS PRIORIDADES" id="btnprioridades">
        <input type="button" class="segundo_plano" value="TODAS EM SEGUNDO PLANO" id="btnsegundoplano">
        <input type="button" class="adição_de_tarefas" value="+" id="btnadicionar">
    </section>

    <section class="tarefa_adicionada" id="task_adicioned_box">
        <input type="text" class="Title_Task" placeholder="Título da Tarefa" > 
        <input type="text" class="Description_Task" placeholder="Descrição da tarefa...">

        <div class="forma_dos_botões">
            <input type="radio"class="alta_prioridade"> Alta prioridade
            <input type="radio" class="baixa_prioridade"> Segundo plano
        </div>
            
       
    </section>
   
    <script src="Scripts.Js"></script>
</body>
</html>